# =========================
# Node
# =========================
frontend/node_modules

# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# =========================
# Uploaded PDFs
# =========================
backend/uploads/

# =========================
# Environment Variables
# =========================
.env

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/